.body {
  max-width: 375px; 
  margin: 50px auto;
  background-color: #ddecea;
  border-radius: 10px; 
  padding: 20px;
}

.calculator {
 background-color: aqua;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.801);
}

input {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.801);
  width: 325px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
}

button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.801);
  width: 70px;
  height: 50px;
  margin: 5px;
  font-size: 18px
}

#clearButton {
  background-color: rgb(255, 0, 179)
}

#num0, 
#num1,
#num2,
#num3,
#num4,
#num5,
#num6,
#num7,
#num8,
#num9 {
  background-color: rgb(184, 230, 173)
}

#addButton,
#subtractButton,
#multiplyButton,
#divideButton,
#decimalButton {
  background-color: lightseagreen;
}

#equalButton {
  background-color: lightseagreen;
  width: 325px;
  margin: 5px;
}
.history-screen {
  background-color: #c7c7c7;
  font-size: 1.6vw;
  max-width: 50%;
}
